<div class="mega_nav">
    <div class="container">
        <div class="menu_sec">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li class="active grid"><a class="color1" href="{% url 'index' %}">Home</a></li>
                <li class="grid"><a class="color1" href="#">jewellery</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Slave Bracelets</a></li>
                                        <li><a href="{% url 'product-list' %}">Rings</a></li>
                                        <li><a href="{% url 'product-list' %}">Necklaces</a></li>
                                        <li><a href="{% url 'product-list' %}">Chokers</a></li>
                                        <li><a href="{% url 'product-list' %}">Cuff Links</a></li>
                                        <li><a href="{% url 'product-list' %}">Bangles</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Men</a></li>
                                        <li><a href="{% url 'product-list' %}">Women</a></li>
                                        <li><a href="{% url 'product-list' %}">Brands</a></li>
                                        <li><a href="{% url 'product-list' %}">Kids</a></li>
                                        <li><a href="{% url 'product-list' %}">Accessories</a></li>
                                        <li><a href="{% url 'product-list' %}">Style Videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>All Jewellery</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Seating</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color1" href="#">catalog</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Slave Bracelets</a></li>
                                        <li><a href="{% url 'product-list' %}">Rings</a></li>
                                        <li><a href="{% url 'product-list' %}">Necklaces</a></li>
                                        <li><a href="{% url 'product-list' %}">Chokers</a></li>
                                        <li><a href="{% url 'product-list' %}">Cuff Links</a></li>
                                        <li><a href="{% url 'product-list' %}">Bangles</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Men</a></li>
                                        <li><a href="{% url 'product-list' %}">Women</a></li>
                                        <li><a href="{% url 'product-list' %}">Brands</a></li>
                                        <li><a href="{% url 'product-list' %}">Kids</a></li>
                                        <li><a href="{% url 'product-list' %}">Accessories</a></li>
                                        <li><a href="{% url 'product-list' %}">Style Videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>All Jewellery</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Seating</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color1" href="#">Sale</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Slave Bracelets</a></li>
                                        <li><a href="{% url 'product-list' %}">Rings</a></li>
                                        <li><a href="{% url 'product-list' %}">Necklaces</a></li>
                                        <li><a href="{% url 'product-list' %}">Chokers</a></li>
                                        <li><a href="{% url 'product-list' %}">Cuff Links</a></li>
                                        <li><a href="{% url 'product-list' %}">Bangles</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Men</a></li>
                                        <li><a href="{% url 'product-list' %}">Women</a></li>
                                        <li><a href="{% url 'product-list' %}">Brands</a></li>
                                        <li><a href="{% url 'product-list' %}">Kids</a></li>
                                        <li><a href="{% url 'product-list' %}">Accessories</a></li>
                                        <li><a href="{% url 'product-list' %}">Style Videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>All Jewellery</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Seating</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color1" href="#">exclusive</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Slave Bracelets</a></li>
                                        <li><a href="{% url 'product-list' %}">Rings</a></li>
                                        <li><a href="{% url 'product-list' %}">Necklaces</a></li>
                                        <li><a href="{% url 'product-list' %}">Chokers</a></li>
                                        <li><a href="{% url 'product-list' %}">Cuff Links</a></li>
                                        <li><a href="{% url 'product-list' %}">Bangles</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Men</a></li>
                                        <li><a href="{% url 'product-list' %}">Women</a></li>
                                        <li><a href="{% url 'product-list' %}">Brands</a></li>
                                        <li><a href="{% url 'product-list' %}">Kids</a></li>
                                        <li><a href="{% url 'product-list' %}">Accessories</a></li>
                                        <li><a href="{% url 'product-list' %}">Style Videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>All Jewellery</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Seating</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color1" href="#">collections</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Slave Bracelets</a></li>
                                        <li><a href="{% url 'product-list' %}">Rings</a></li>
                                        <li><a href="{% url 'product-list' %}">Necklaces</a></li>
                                        <li><a href="{% url 'product-list' %}">Chokers</a></li>
                                        <li><a href="{% url 'product-list' %}">Cuff Links</a></li>
                                        <li><a href="{% url 'product-list' %}">Bangles</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">Men</a></li>
                                        <li><a href="{% url 'product-list' %}">Women</a></li>
                                        <li><a href="{% url 'product-list' %}">Brands</a></li>
                                        <li><a href="{% url 'product-list' %}">Kids</a></li>
                                        <li><a href="{% url 'product-list' %}">Accessories</a></li>
                                        <li><a href="{% url 'product-list' %}">Style Videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>All Jewellery</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Seating</h4>
                                    <ul>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">commodi consequatur</a></li>
                                        <li><a href="{% url 'product-list' %}">illum qui dolorem</a></li>
                                        <li><a href="{% url 'product-list' %}">nihil molestiae</a></li>
                                        <li><a href="{% url 'product-list' %}">eum fugiat</a></li>
                                        <li><a href="{% url 'product-list' %}">consequatur eum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="search">
                <form>
                    <input type="text" value="" placeholder="Search...">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>