body {
    padding-top: 70px;
}

/*ul.messages {*/
    /*margin: 10px 0px;*/
    /*padding: 0;*/
    /*list-style-type: none;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
/*}*/

/*ul.messages li.success,*/
/*ul.messages li.warning,*/
/*ul.messages li.error,*/
/*ul.messages li.info {*/
    /*margin: 0;*/
    /*padding: 14px 20px;*/
    /*list-style: none;*/
    /*color: #6e6e6e;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
/*}*/

/*ul.messages li.success {*/
    /*background: #ffffff;*/
/*}*/

/*ul.messages li.success a {*/
    /*color: #c7c7c7;*/
/*}*/

/*ul.messages li.error {*/
    /*background: #a3240d;*/
    /*color: #e9828e;*/
/*}*/

/*ul.messages li.error a {*/
    /*color: #e9828e;*/
/*}*/

/*ul.messages li.info {*/
    /*background: #faffae;*/
    /*color: #696b4e;*/
/*}*/

/*ul.messages li.info a {*/
    /*color: #1586de;*/
/*}*/

/*ul.messages li.warning {*/
    /*background: #de9404;*/
/*}*/

/*ul.messages li.warning a {*/
    /*color: #f49000;*/
/*}*/

/*ul.messages li a.close {*/
    /*margin: 0;*/
    /*float: right;*/
    /*opacity: 1;*/
    /*border: 0;*/
    /*box-shadow: none;*/
    /*text-shadow: none;*/
/*}*/

input.form-control {
    background-color: #2bb483
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -300%;
    }
}

body {
    margin: 0;
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy linear infinite;
}